<%= render 'navbar' %>

<h1>Event Details - <%= @event.title %></h1>

<table class="table table-hover">
	<tr>
		<td>Title:</td>
		<td><%= @event.title %></td>
	</tr>
	<tr>
		<td>Time:</td>
		<td><%= @event.time %></td>
	</tr>
	<tr>
		<td>Place:</td>
		<td><%= @event.place %></td>
	</tr>
	<tr>
		<td>Details:</td>
		<td><%= @event.details %></td>
	</tr>
</table>

<div class="row">
	<div class="col-md-1">
		<%= link_to 'All Events', category_events_path(@category), class: "btn btn-primary" %>
	</div>
	<div class="col-md-1">
		<%= link_to 'Edit Event', edit_category_event_path(@category, @event), class: "btn btn-success" %>
	</div>
</div>